div.tab-pane#settings(role='tabpanel')
  div.well
    div.container-fluid
      div.panel-group#settings-accordion(role='tablist',
      aria-multiselectable='true')
        include admin_settings/default_time