/db/.idea
config/ssl/
config/dbconfig.js
/config/errorConfig.js

# Yarn
yarn.lock

# Bower
bower_components

node_modules/

*.iml

.idea/

# Mac garbage
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Logs
log/
coverage/
npm-debug.log*

### Eclipse template
*.pydevproject
.metadata
.gradle
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
.classpath
