doctype html
html
  head
    title LTS Help Desk Schedule
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='stylesheets/fullcalendar.min.css')
    link(href="stylesheets/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='stylesheets/timepicker.min.css')
    link(rel='stylesheet', href='stylesheets/bootstrap-datepicker.min.css')
    link(rel='stylesheet', href='stylesheets/style.min.css')
  body
    div.container-fluid
      div.navbar
        div.nav-title
          if user
            h4 You are logged in as #{user}
          else
            h3 Please log in.
            a.btn.btn-info(type='button' role='button' href='/login') Login
    div.container-fluid
      block content
    div.container-fluid
      br
      br
      div
        h4.small LTS Help Desk Schedule &copy; 2016
        p.small Maintained by Ari Kalfus
        p.small Issue with the app? &#32;
          a(href='https://github.com/arikalfus/Schedule/issues/new') Submit it here
        a.btn.btn-default.btn-xs(role='button' href='mailto:akalfus@brandeis.edu') Send an email
    script(src='javascripts/jquery.min.js' type='text/javascript')
    script(src='javascripts/moment.min.js' type='text/javascript')
    script(src='javascripts/bootstrap.min.js' type='text/javascript')
    script(src='/javascripts/bootstrap-timepicker.min.js' type='text/javascript')
    script(src='javascripts/bootstrap-datepicker.min.js' type='text/javascript')
    script(src='javascripts/fullcalendar.min.js' type='text/javascript')
    script(src='/javascripts/main.js' type='text/javascript')
