extends layouts/layout

block content
  div.row
    div.col-xs-1
      div.btn-group(role='group')
        a.btn.btn-primary(type='button', role='button', href='/cal') Go Back to Calendar
  br
  div.row
    ul.nav.nav-tabs(role='tablist')
      li(role='presentation')
        a(href='#staff', aria-controls='staff', role='tab', data-toggle='tab') Staff
      li.active(role='presentation')
        a(href='#shifts', aria-controls='shifts', role='tab', data-toggle='tab') Shifts
      li(role='presentation')
        a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Settings

    div.tab-content
      include partials/admin_staff_well
      include partials/admin_shifts_well
      include partials/admin_settings_well