extends layouts/layout

block content
  div.well
    p Admin page is under construction.
    if user
      p Welcome, #{user}!
    else
      p Hey! You're not supposed to be here!

    div
      a.btn.btn-info(role='button' href='/cal') Go Back to Calendar