extends layouts/layout

block content
  div.well
    p Admin page is under construction.
    if user
      p Welcome, #{user}!
    else
      p Hey! You're not supposed to be here!

  div.pull-right#sub-request-div
    div#sub-request-form
      div.well
        form.form-horizontal
          div.form-group
            label.control-label Shift
            div
              p.form-control-static#sub-request-shift
          div.form-group
            label.control-label From:
            input.form-control#sub-request-begin-time(type='time')
            label.control-label To:
            input.form-control#sub-request-end-time(type='time')
            button.btn.btn-default(type='submit') Submit
    div
      a.btn.btn-info(role='button' href='/cal') Go Back to Calendar