extends layouts/layout

block content
  div
    ul.nav.nav-tabs(role='tablist')
      li(role='presentation')
        a(href='#staff', aria-controls='staff', role='tab', data-toggle='tab') Staff
      li.active(role='presentation')
        a(href='#shifts', aria-controls='shifts', role='tab', data-toggle='tab') Shifts
      li(role='presentation')
        a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Settings

    div.tab-content
      div.tab-pane#staff(role='tabpanel')
        div.well
          p This is the staff well
      div.tab-pane.active#shifts(role='tabpanel')
        div.well
          p This is the shifts well
      div.tab-pane#settings(role='tabpanel')
        div.well
          p This is the settings well

  div.row
    div.col-xs-1
      div.btn-group(role='group')
        a.btn.btn-info(type='button', role='button', href='/cal') Go Back to Calendar