extends layouts/layout

block content
  div.col-md-10
    div#calendar
  div.col-md-2
    div.well
      // Who's currently on shift
      div
        h4
          b Currently on shift:
        div.curr-on-shift
          //TODO: Create javascript to populate with database data
        p No one is on shift!
    div#sub-request-div(hidden='true')
      div#sub-request-form
        div.well
          // Sub request form
          button.close#close-sub-request(type='button', aria-label='Close')
            span(aria-hidden='true') &times;
          form(action='/shifts/drop', method='post')
            input(type='hidden', name='user', value=user)
            div.input-group
              h4
                b Shift Drop Request
              label.control-label Shift Selected:
              div
                input.form-control#sub-request-shift(type='text' readonly)
            p From:
            div.input-group.bootstrap-timepicker.timepicker
              span.input-group-addon.glyphicon.glyphicon-time
              input.form-control.input-small#sub-request-begin-time(type='text', aria-describedby='begin-time-glyph')
            br
            p To:
            div.input-group.bootstrap-timepicker.timepicker
              span.input-group-addon.glyphicon.glyphicon-time
              input.form-control.input-small#sub-request-end-time(type='text', aria-describedby='end-time-glyph')
            br
            button.btn.btn-default.center-block(type='submit', role='button') Submit