extends layouts/layout

block content
  div.contain-fluid
    div.well
      div
        p You've reached the clock-in page. We're working on it.
      div
        a.btn.btn-info(role='button' href='/cal') Go Back to Calendar