body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f2f5f9;
}

a {
  color: #00B7FF;
}

th {
  text-align: center;
}

.bootstrap-timepicker-widget.dropdown-menu {
  background-color: #f9f4f1;
}

div .fc-time-grid-event {
  cursor: pointer
}